
Pacman_UnityProject/Library

Pacman_UnityProject/obj

Pacman_UnityProject/Logs

Pacman_UnityProject/.vs

Pacman_UnityProject/Temp
My project/Library
My project/obj
My project/Logs
My project/.vs
My project/Temp